<div class="show_container">

    <h1><%= @director.name %></h1>
    <hr>
    <%= image_tag @director.image %>
    <hr>
    <ul>
    <% @director.movies.each do |d|%>
    <li><%= link_to d.title, movie_show_path(d.id) %></li>
    <% end %>
    </ul>

</div>