<div class="show_container">

<h2>User details</h2>

<hr>

<p>
 User name: <%= @current_user.name %>
</p>

<p>
User email: <%= @current_user.email %><br>
</p>
<p>
User username: <%= @current_user.username %><br>
</p>

<%= link_to 'Edit', edit_user_path(@current_user.id) %>

</div>


