
* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    text-align: center;
}

img {
    width:150px;
    height: auto;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #979f9d;
    padding: 10px;
    text-decoration: none;

}

.home_link{
    text-decoration: none;
    color: white;
}

.nav_font {
    color: white;
}


.show_container {
    margin: 20%;
    margin-top: 5%;
    background-color: rgb(242, 244, 244);
    padding: 3% 5% 5% 5%;
    
}

.index_container {
    margin: 10%;
    background-color: white;
}

input {
    text-align: left;
}
