
.index_ul li {
    list-style: none;
}

.index_ul li a {
    
    text-decoration: none;
    color: black;
    font-size: 30px;
    
}

.index_ul li a:hover {
    color: rgb(94, 93, 93);
}


.details {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.index {
    margin-left: 30px;
    text-align: left;    
}

#index_name {
    display: inline-block;
    color: gray
}

.fa-film {
    size: 30px;
}

.movie_big_image {
    width:100%;
}

.index_image {
    transition: 0.5s;
    
}

.index_image:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);

}

.movie_small_image {
    width: 100px;
}

.show_title {
    display: flex;
    justify-content: space-evenly;
}

h2 {
font-size: 40px;
}

#show_text {
    font-weight: bold;
    color: rgb(85, 84, 84);
    
}

.movie_info {
    display: flex;
    justify-content: space-evenly;

}

#overview {
    font-size: 20px;
    font-weight: bolder;
}

#overview_text {
    text-align: left;
}