.review_content {
   
    background-color: white;
    border-radius: 5px;
    margin-top: 7%;
}

.review_content ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.review_content ul li {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.review_box {
    padding-bottom: 20%;
    text-align: left;
}

.review_login {
    text-decoration: none;
    color: rgb(173, 173, 173)
}

.review_login:hover {
    color: gray;
}

#review_link {
    text-decoration: none;
    color: rgb(128, 128, 128);
    
    
}

#review_write {
    display: none;
}

#review_link:hover {
    color: rgb(158, 156, 156);
    
}

textarea {
    width: 400px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    outline: none;

}

#rating {
    padding: 0 10px 0 10px;
}

.user_review {
    display: flex;
    justify-content: space-between;
}

#review_edit a {
    text-decoration: none;
    color : rgb(130, 130, 130);
}

#review_edit a:hover {
    color:rgb(168, 167, 167);
}

#user_rating {
    color: gray;
}